@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Pilih Font */
h1,
p {
  color: #1e1e1e;
  font-family: Plus Jakarta Sans;
}

/* Nama*/
h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
}

/* NIM dan BIO*/
p {
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

/* Profile Picture*/
.profile-header-banner {
  width: 120px;
  height: 120px;

  position: relative;
}

/* Body website */
.body {
  background-color: #f4f4f4;

  /* Fill Container di Figma == 100% di JS*/
  width: 100vw;
  height: 100vh;

  /* Arah Flex */
  display: flex;
  flex-direction: column;

  /* Kasih ke tengah flex */
  align-items: center;
  justify-content: center;
}

/* Container */
.banner-container {
  display: flex;
  width: 500px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 24px;
}
/* Header Container */
.header-banner-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}
/* Content Container */
.content-header-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
/*CTA*/
.cta-banner-wrapper {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.cta-input {
  padding: 16px;
  border-radius: 12px;
  margin-top: 10px;
  border: 2px solid #8E8E8E;
}

.cta-input:focus {
  outline: none !important;
  border: 2px solid #001ffe;
}

.cta-button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: #001ffe;
  cursor: pointer;
}
.cta-button p {
  font-weight: 700;
  color: white;
}

.cta-button:hover {
    border: 1px solid #1e1e1e;
    -webkit-box-shadow: 0px 0px 10px #1e1e1e;
    -moz-box-shadow: 0px 0px 10px #1e1e1e;
    box-shadow: 0px 0px 10px #1e1e1e;
}
