.navbar-container {
  display: flex;
  background-color: white;
  gap: 16px;
  padding: 16px;
  border-radius: 10px;
}

.navbar-text {
  color: #8a8a8a;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active {
  color: #1e1e1e;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.default {
  color: #8a8a8a;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
